**string tidak bisa digantikan isi datanya (immutable)**

In [2]:
var1 = [1,2,3,4,5,6]

In [4]:
# kita ganti katanya (indeks)

var1 [2] = 100
var1

[1, 2, 100, 4, 5, 6]

In [8]:
nama1 = 'bambang'

In [9]:
nama1[3]

'b'

In [10]:
nama1[:4]

'bamb'

In [11]:
nama1[:-1]

'bamban'

In [12]:
# coba kita ganti kata dalam nama bambang

nama1 [3] = 'i'

TypeError: 'str' object does not support item assignment

In [13]:
# string bisa digabungkan

nama1 + ' Lukito'

'bambang Lukito'

In [15]:
ganti_nama = nama1+ ' Lukito'
ganti_nama

'bambang Lukito'

In [17]:
# string juga bisa dikalikan selain ditambah

nama1 * 3

'bambangbambangbambang'

In [18]:
nama1 + ' sedang belajar python'*2

'bambang sedang belajar python sedang belajar python'

In [22]:
tindakan = nama1 + ' sedang belajar python'
tindakan

'bambang sedang belajar python'

# Method in Python

In [1]:
var1 = 'Makanan Sehat Itu adalah 4 Sehat 5 Sempurna'
var1

'Makanan Sehat Itu adalah 4 Sehat 5 Sempurna'

In [2]:
var1.upper()

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [3]:
var1

'Makanan Sehat Itu adalah 4 Sehat 5 Sempurna'

In [4]:
var2 = var1.upper()
var2

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [5]:
var1.upper

In [8]:
var3 = [1, 2, 'sehat']
var3

[1, 2, 'sehat']

In [9]:
var1 = 'Makanan Sehat Itu adalah 4 Sehat 5 Sempurna'
var1

'Makanan Sehat Itu adalah 4 Sehat 5 Sempurna'

In [10]:
var1.split() # sering digunakan pada teknik NLP (Natural Languange Procesing)

['Makanan', 'Sehat', 'Itu', 'adalah', '4', 'Sehat', '5', 'Sempurna']

In [13]:
var1.split('a')

['M', 'k', 'n', 'n Seh', 't Itu ', 'd', 'l', 'h 4 Seh', 't 5 Sempurn', '']

In [14]:
print(var1) # hasilnya tidak memakai tanda petik

Makanan Sehat Itu adalah 4 Sehat 5 Sempurna

In [18]:
 # memakai method format

print ('dun ini ada uang Rp. {} buat beli ayam'.format(10000))

dun ini ada uang Rp. 10000 buat beli ayam

In [21]:
print ('urutan pemenang lomba lari adalah {} {} {}'.format ('kudil', 'dede', 'madun'))

urutan pemenang lomba lari adalah kudil dede madun

In [22]:
print ('urutan pemenang lomba lari adalah {a} {b} {c}'.format (c='kudil', a='dede', b='madun'))

urutan pemenang lomba lari adalah dede madun kudil

In [23]:
# memakai indexs

print ('urutan pemenang lomba lari adalah {1} {0} {2}'.format ('kudil', 'dede', 'madun'))

urutan pemenang lomba lari adalah dede kudil madun

In [25]:
phi = 22/7
phi

3.142857142857143

In [26]:
print ('untuk menghitung luas lingkaran adalah, gunakan phi = {}'.format (phi))

untuk menghitung luas lingkaran adalah, gunakan phi = 3.142857142857143

In [27]:
luas1 = 667.9
luas2 = 998.7

In [28]:
# rumus format penulisan untuk method print (nilai:lebar.tingkat_presisi f)

print ('luas tanah yang dimiliki oleh madun adalah {a} {b}'.format (a=luas1, b=luas2))

luas tanah yang dimiliki oleh madun adalah 667.9 998.7

In [29]:
print ('luas tanah yang dimiliki oleh madun adalah {a:8.3f} {b}'.format (a=luas1, b=luas2))

luas tanah yang dimiliki oleh madun adalah  667.900 998.7

In [30]:
print ('luas tanah yang dimiliki oleh madun adalah {a:15.5f} {b}'.format (a=luas1, b=luas2))

luas tanah yang dimiliki oleh madun adalah       667.90000 998.7

In [31]:
print ('luas tanah yang dimiliki oleh madun adalah {a:10.1f} {b}'.format (a=luas1, b=luas2))

luas tanah yang dimiliki oleh madun adalah      667.9 998.7