In [3]:
keranjang = [1,2.3,'apel']

In [4]:
len(keranjang)

3

In [5]:
#len akan sangat berguna ketika menggunakan looping

for i in range (len(keranjang)):
    print (keranjang[i])

1
2.3
apel

In [7]:
#looping pakai indeks

for i in range (0,2):
    print (keranjang[i])

1
2.3

In [8]:
keranjang

[1, 2.3, 'apel']

In [9]:
#mengganti isi dalam list

keranjang [1] = 'mangga'

In [10]:
keranjang

[1, 'mangga', 'apel']

In [11]:
# menambahkan objek dalam list

jeruk = ['jeruk']

In [12]:
keranjang = keranjang + jeruk

In [13]:
keranjang

[1, 'mangga', 'apel', 'jeruk']

In [14]:
# lebih singkat lagi bisa dengan menggunaka format append (hanya bisa di isi satu objek/item)

keranjang.append('pisang')

In [15]:
keranjang

[1, 'mangga', 'apel', 'jeruk', 'pisang']

In [16]:
buah_lagi = ['anggur','nanas','jeruk bali', 'apel washington']

In [17]:
keranjang = keranjang + buah_lagi

In [18]:
keranjang

[1,
 'mangga',
 'apel',
 'jeruk',
 'pisang',
 'anggur',
 'nanas',
 'jeruk bali',
 'apel washington']

In [19]:
len(keranjang)

9

In [20]:
# membentuk list di dalam list

keranjang.append(buah_lagi)

In [21]:
keranjang

[1,
 'mangga',
 'apel',
 'jeruk',
 'pisang',
 'anggur',
 'nanas',
 'jeruk bali',
 'apel washington',
 ['anggur', 'nanas', 'jeruk bali', 'apel washington']]

In [22]:
# cara menghapus item/objek dalam sebuah list menggunakan method pop

baru = [1,2,3,4,5,6]
baru

[1, 2, 3, 4, 5, 6]

In [23]:
baru.pop()

6

In [24]:
baru

[1, 2, 3, 4, 5]

In [25]:
baru.pop(1)

2

In [26]:
baru

[1, 3, 4, 5]

In [46]:
baru_lagi = baru.pop(2)

In [47]:
baru_lagi

4

In [48]:
baru

[1, 3, 5]

In [28]:
baru_lagi = baru.pop()
baru_lagi

4

In [29]:
baru

[1, 3]

In [30]:
baru = [1,2,3,4,5,6,7,8]
baru

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
baru2 = baru.pop()
baru

[1, 2, 3, 4, 5, 6, 7]

In [32]:
# cara mengurutkan suatu item dalam list menggunakan format sort

variabel = [1,6,5,9,5,7]

In [33]:
variabel.sort()

In [34]:
variabel

[1, 5, 5, 6, 7, 9]

In [35]:
variabel2 = ['Imam', 'Rayyan', 'Dede', 'Safa']
variabel2.sort()

In [36]:
variabel2

['Dede', 'Imam', 'Rayyan', 'Safa']

In [1]:
# Method Sort tidak bisa di masukan sebagai nilai karena nonType (himpunan kosong)

var_2 = [2,5,4,8,6,9,1]

In [2]:
var_2

[2, 5, 4, 8, 6, 9, 1]

In [3]:
var_3 = var_2.sort()

In [7]:
var_3

In [9]:
var_2

[1, 2, 4, 5, 6, 8, 9]

In [5]:
type (var_2.sort())

NoneType

In [45]:
# maka salah satu caranya adalah dengan cara

var_2

[1, 2, 4, 5, 6, 8, 9]

In [47]:
var_3 = var_2
var_3

[1, 2, 4, 5, 6, 8, 9]

In [55]:
# method sort bisa digunakan juga dengan string

var_baru = ['a','d','c','e']

In [56]:
var_baru.sort()

In [57]:
var_baru

['a', 'c', 'd', 'e']

In [58]:
# kebalikan dari method sort adalah reverse

var_baru.reverse()

In [59]:
var_baru

['e', 'd', 'c', 'a']

# NESTED LIST

didalam sebuah list ada list

In [11]:
isi = [1,2,3,4,5,[6,7,8]]

In [12]:
isi

[1, 2, 3, 4, 5, [6, 7, 8]]

In [13]:
isi [3]

4

In [14]:
isi [:2]

[1, 2]

In [66]:
# indeks dalam sebuah list

isi [5]

[6, 7, 8]

In [15]:
# mengambil objek dalam sebuah list di dalam list

isi [5][0]

6

In [68]:
isi [5][1]

7

In [73]:
isi2 = [1,2,3,4,5,[6,7,8,[9,10,11,'target',12]]]

In [74]:
isi2

[1, 2, 3, 4, 5, [6, 7, 8, [9, 10, 11, 'target', 12]]]

In [76]:
# cara mengeluarkan objek 'target

isi2[5]

[6, 7, 8, [9, 10, 11, 'target', 12]]

In [77]:
isi2[5][3]

[9, 10, 11, 'target', 12]

In [78]:
isi2[5][3][3]

'target'

# Lebih dalam dengan List

In [89]:
var1 = list()

In [90]:
type(var1)

list

In [91]:
var2 = []

In [93]:
type (var2)

list

In [96]:
if var1 == var2:
    print ('apakah sama antara var1 dengan var2')

apakah sama antara var1 dengan var2

In [97]:
list ('saya sangat senang belajar python')

['s',
 'a',
 'y',
 'a',
 ' ',
 's',
 'a',
 'n',
 'g',
 'a',
 't',
 ' ',
 's',
 'e',
 'n',
 'a',
 'n',
 'g',
 ' ',
 'b',
 'e',
 'l',
 'a',
 'j',
 'a',
 'r',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [79]:
 ganjil = (1,3,5,7,9)

In [80]:
genap = (2,4,6,8,10)

In [81]:
# cara menggabungkan sebuah list

angka = ganjil + genap

In [82]:
angka

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [83]:
# jika ingin memunculkan dua buah list

bilangan = [ganjil, genap]

In [84]:
bilangan

[(1, 3, 5, 7, 9), (2, 4, 6, 8, 10)]

In [85]:
# menggunakan list untuk iterasi, contoh list disini adalah 'bilangan'

for i in bilangan:
    print (i)

(1, 3, 5, 7, 9)
(2, 4, 6, 8, 10)

In [87]:
for i in bilangan: #hasilnya horizontal
    print (i)
    
    for a in i: #hasilnya vertical
        print (a)

(1, 3, 5, 7, 9)
1
3
5
7
9
(2, 4, 6, 8, 10)
2
4
6
8
10